<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>&#xd;
This job has been disabled by &apos;Disable Failed Job Plugin&apos; due to consecutive failures. </description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.19.0">
      <projectUrl>https://github.com/harshad007/yamlfiles.git/</projectUrl>
      <displayName></displayName>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
    <hudson.plugins.copyartifact.CopyArtifactPermissionProperty plugin="copyartifact@1.38">
      <projectNameList>
        <string>xornet_prod_stage</string>
      </projectNameList>
    </hudson.plugins.copyartifact.CopyArtifactPermissionProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.4.4">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/harshad007/yamlfiles</url>
        <credentialsId>895ee99c-d38c-4346-aaa7-edcf03c81071</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.testlink.TestLinkBuilder plugin="testlink@3.12">
      <testLinkName>(Default)</testLinkName>
      <testProjectName>test_qa_$PROJECT_DATE</testProjectName>
      <testPlanName>plan_$PLAN_DATE</testPlanName>
      <buildName>build_$BUILD_ID</buildName>
      <platformName></platformName>
      <customFields>html page</customFields>
      <testPlanCustomFields>html page</testPlanCustomFields>
      <singleBuildSteps>
        <org.jenkinsci.plugins.cloverphp.CloverPHPPublisher plugin="cloverphp@0.5">
          <publishHtmlReport>false</publishHtmlReport>
          <xmlLocation>ws/clover_report.xml</xmlLocation>
          <disableArchiving>false</disableArchiving>
          <healthyTarget>
            <methodCoverage>70</methodCoverage>
            <statementCoverage>80</statementCoverage>
          </healthyTarget>
          <unhealthyTarget/>
          <failingTarget/>
        </org.jenkinsci.plugins.cloverphp.CloverPHPPublisher>
      </singleBuildSteps>
      <transactional>false</transactional>
      <failedTestsMarkBuildAsFailure>false</failedTestsMarkBuildAsFailure>
      <failIfNoResults>false</failIfNoResults>
      <failOnNotRun>false</failOnNotRun>
      <executionOrderComparator/>
      <failure>false</failure>
    </hudson.plugins.testlink.TestLinkBuilder>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>**</artifacts>
      <allowEmptyArchive>true</allowEmptyArchive>
      <onlyIfSuccessful>true</onlyIfSuccessful>
      <fingerprint>false</fingerprint>
      <defaultExcludes>true</defaultExcludes>
      <caseSensitive>true</caseSensitive>
    </hudson.tasks.ArtifactArchiver>
  </publishers>
  <buildWrappers>
    <org.jenkinsci.plugins.phpwebserver.buildwrappers.PhpWebserverBuildWrapper plugin="php-builtin-web-server@0.1">
      <port>8000</port>
      <host>localhost</host>
      <root>ws/index.php</root>
    </org.jenkinsci.plugins.phpwebserver.buildwrappers.PhpWebserverBuildWrapper>
  </buildWrappers>
</project>